
.grocery-item {
    display: flex;
    margin: 15px 0;
    border: 2px solid rgb(43, 180, 204);
    align-items: center;
    padding-left: 10px;
}

.grocery-item .item-cover {
    flex-shrink: 0;
    width: 140px;
    margin-right: 30px;
}

.grocery-item .item-cover img {
    max-width: 100%;
}

.grocery-item .item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: flex-start;
}

.grocery-item .item-details .item-prop {
    font-size: 1.4rem;
}

.item-page-btn {
    margin: 15px 0;
}